<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Contact.css">
    <title>Contact</title>
</head>
<body>
    <header>
    <%- include('./partials/header'); %>
       <div class="   d-flex justify-content-center align-items-center">
           <div class="content text-center">
            <h1 class="titre">tourism senegal</h1>
           </div>
       </div>
     
    </header>  


<section class="contact py-5">
   <div class="banner">
    <div class="container  ">
        <h5 class="text-center pt-4 mb-5">LAISSEZ-NOUS UN MESSAGE</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="head text-center py-3">
                                    <h3>contact</h3>
                                </div>
                            </div>
                        </div>
                        <div class="form p-3">
                            <div class="form-row my-5 ">
                                <div class="col-lg-12 ">
                                    <input type="text" class="effect-1" placeholder="Prenom">
                                    <span class="Focus-border"></span>
                                </div>
                                <div class="col-lg-12 pt-4">
                                    <input type="text" class="effect-1" placeholder="Nom">
                                    <span class="Focus-border"></span>
                                </div>
                            </div>
                            <div class="form-row pb-4">
                                <div class="col-lg-12">
                                    <input type="email" class="effect-1" placeholder="Adresse email">
                                    <span class="Focus-border"></span>
                                </div>
                                <div class="col-lg-12 pt-4">
                                    <input type="email" class="effect-1" placeholder="Numero téléphone">
                                    <span class="Focus-border"></span>
                                </div>
                            </div>
                            <div class="form-row pt-5">
                                <div class="col-lg-12">
                                    <input type="text" class="effect-1" placeholder="Votre Message">
                                    <span class="Focus-border"></span>
                                </div>
                            </div>
                            <div class=" col-lg-4 pt-3 text-center">
                                <button type="submit" class="btn boutton ">ENVOYER</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</section>
<%- include('./partials/footet'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"    crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>