<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Destination.css">
    <title>Destination</title>
</head>
<body>
    <header>
       <%- include('./partials/header'); %>
       <div class=" banner-nianing  d-flex justify-content-center align-items-center">
           <div class="content text-center">
            <h1 class="titre">Popenguine-Ndayane guide touristique</h1>
           </div>
       </div>
     
    </header>   

<section class="destination mb-4" id="destination-grid " >
        <div class="container text-center  headerTexte py-4">
            <p class="">
                Popenguine-Ndayane est une commune du Sénégal, située à 70 km au
                 sud de Dakar, sur la Petite-Côte.A l’origine, village de pêcheurs et d’agriculteurs, Popenguine est aujourd’hui connue principalement comme lieu de
                pèlerinage catholique (Basilique Notre-Dame de la Délivrance) ainsi que pour son aire protégée, la Réserve naturelle de
                Popenguine.

            </p>

        </div>
       <div class="container">
         <div class=" block ">
            <div class="row">
                <h2 class="text-center">Hotel La Pierre de Lisse</h2>

                <div class="col-md-6">
                    <p>
                        La Pierre de Lisse est un hôtel restaurant avec piscine, face à la
                         mer. Situé à N’Dayane, à 45 km de Dakar entre Toubab Dialaw et 
                         Popenguine L’hôtel restaurant la Pierre de Lisse vous accueille 
                         24h sur 24h et 7 jours sur 7. Situé en bord de mer à 45 min de 
                         Dakar, Thiès et Saly, c’est le lieu idéal pour se ressourcer.
                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/lisse.jpeg" class="img-fluid" alt="...">
                </div>
            </div>
         </div>
        <div class="block ">
            <div class="row ">
                <h2 class="text-center"> La plage Popenguine</h2>

                <div class="col-md-6">
                    <img src="/images/plage-popenguine.jpg" class="img-fluid" alt="...">
                </div>
                <div class="col-md-6">
                    <p>
                Elle a vent frais qui y souffle et le bruit de ses vagues qui viennent se heurter aux
                côtes. L’espace est propice aux divertissements en même temps qu’il constitue un merveilleux havre de paix pour qui se
                trouve à la recherche de quiétude
                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="block">
            <div class="row  ">
                <h2 class="text-center">la Réserve Naturelle de Popenguine</h2>

                <div class="col-md-6">
                    <p>
                    Cette aire protégée -en partie maritime et en partie terrestre-a son propre charme et est encore épargnée des hordes de
                    touristes. C’est la première aire protégée qui gère la gestion entre un groupe local, le regroupement de femmes pour la
                    protection de la nature (RFPPN) avec la direction des parcs nationaux.

                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/reserve.jpg" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
       </div>
</section>

<%- include('./partials/footet'); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"    crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>