<! <!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Destination.css">
    <title>Destination</title>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
        <div class=" banner-dakar  d-flex justify-content-center align-items-center">
            <div class="content text-center">
                <h1 class="titre">Joal Fadiouth guidee touristique</h1>
            </div>
     
    </header>   

    

<section class="destination mb-4" id="destination-grid " >
        <div class="container text-center  headerTexte py-4">
            <p class="">
                La capitale du Sénégal, Dakar, sert souvent de point de chute pour visiter le pays mais mérite amplement un séjour à
                elle seule. Chacun de ses quartiers est différent et se découvre avec plaisir à pied ou en taxi. On apprécie l'empreinte
                française laissée, notamment sur l'île de Gorée qui est très belle. L'aspect cosmopolite de Dakar est aussi à prendre en
                compte et il se remarque notamment grâce à sa vie nocturne animée. A savoir que Dakar se situe au point le plus
                occidental du continent africain, sur la presqu'île du Cap-Vert.

            </p>

        </div>
       <div class="container">
         <div class=" block ">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-center">L’île de gorée</h2>
                    <p>
                    L’île de Gorée est une petite île entièrement piétonne de 28ha située au large de Dakar,
                    à 3,5 km de la capitale sénégalaise.Il est L'un des sites touristiques les plus visités
                    du Sénégal,C’est l’un des incontournables d’un voyage au Sénégal. passer une journée serait 
                    agréable pour vous.
                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/2.jpg" class="img-fluid" alt="...">
                </div>
            </div>
         </div>
        <div class="block ">
            <div class="row ">
                <div class="col-md-6">
                    <img src="/images/mamelles.jpeg" class="img-fluid" alt="...">
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">Plage des mamelles</h2>
                    <p>
                        La plage des Mamelles, l'une des plages les plus propres et les plus agréables de Dakar
                         et jouissant d'un beau cadre naturel (mais menacée par un projet d’usine de dessalement).
                          Possibilité de louer un transat et de boire un verre

                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
            </div>
        </div>
         <div class="block">
            <div class="row  ">
                <div class="col-md-6">
                    <h2 class="text-center">Lac Rose</h2>
                    <p>
                    Le Lac Rose, Lac Retba de son vrai nom. C’est l’un des lieux les plus
                    connus du pays. Il est situé au nord de Dakar, à une quarantaine de kilomètres . Il s’agit d’un
                    lac salé, célèbre pour sa concentration en sel, sa couleur mais aussi pour avoir été le lieu d’arrivée du célèbre rallye
                    Paris-Dakar jusqu’en 2007.
                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/lacc.jpg" class="img-fluid" alt="...">
                </div>
            </div>
        </div> 
        <div class="block">
            <div class="row  ">
                <div class="col-md-6">
                    <h2 class="text-center">Village Des Arts</h2>
                    <p>
                       Le Village des Arts est l'un de ces marchés à destination des touristes.
                        un endroit extraordinaire où l'art foisonne sous toutes ses formes. Peintres sur verre, sur toile,
                        photographes, sculpteurs , des dizaines d'artistes talentueux qui nous font partager leur passion

                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/Villagee.jpg" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
        <div class=" block ">
            <div class="row ">
                <div class="col-md-6">
                    <img src="/images/Mosquee.jpg" class="img-fluid " alt="...">
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">Mosquée de la Divinité</h2>
                    <p>
                        La Mosquée de la Divinité est une mosquée sénégalaise
                        située à Ouakam, l'une des communes d'arrondissement
                        de Dakar, sur la Corniche-Ouest, en bordure de l'océan Atlantique
                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="row  ">
                <div class="col-md-6">
                    <h2 class="text-center">La cabane du Pêcheur</h2>
                    <p>
                    La Cabane du Pêcheur propose une carte de fruits de mer et de poissons que l'on ne voit pas souvent à la carte à Dakar :
                    badèche, carpe rouge, carangue, langoustes et cigales de mer. Ils sont pêchés du matin et pour la plupart, grillés
                    simplement à la plancha. On vous recommande d'y déjeuner à midi, entre un tour du village et une virée sur l'île du même
                    nom. Le dîner y est tout aussi agréable, lui qui est animé régulièrement. La maison fait aussi centre de pêche (Atlantic
                    Evasion) et dispose de quatre chambres. Une institution de la capitale sénégalaise !
                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/cabane.jpeg" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
       </div>
</section>
<%- include('./partials/footet'); %>


    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"    crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>