<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Destination.css">
    <title>Destination</title>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
        <div class=" banner-saly  d-flex justify-content-center align-items-center">
            <div class="content text-center">
                <h1 class="titre">Saly Portudal guidee touristique</h1>
            </div>
        </div>

    </header>

    <section class="destination mb-4" id="destination-grid ">
        <div class="container text-center  headerTexte py-4">
            <p class="">
                De renommée mondiale, la station balnéaire de Saly est le plus grand centre touristique du Sénégal et de l'Afrique de
                l'Ouest, réputé pour sa plage de sable blanc bordée de cocotiers où sont alignés les hôtels resort. Saly est le summum
                du farniente en all inclusive de la Petite Côte, avec tous les désirs à portée de la main. Les touristes passent en
                général ici une ou deux semaines en séjour tout compris, en réservant un package depuis Paris via des agences de voyage.

            </p>

        </div>
        <div class="container">
            <div class=" block ">
                <div class="row">
                    <h2 class="text-center">La petite côte</h2>

                    <div class="col-md-6">
                        <p>
                            L’île de Gorée est une petite île entièrement piétonne de 28ha située au large de Dakar,
                            à 3,5 km de la capitale sénégalaise.Il est L'un des sites touristiques les plus visités
                            du Sénégal,C’est l’un des incontournables d’un voyage au Sénégal. passer une journée serait
                            agréable pour vous.
                        </p>
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-info">RESERVATION</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/images/petite.jpeg" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            <div class="block ">
                <div class="row ">
                    <h2 class="text-center">Hôtel Royal de Saly</h2>

                    <div class="col-md-6">
                        <img src="/images/rroyal.jpeg" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-6">
                        <p>
                            Hôtel Club Royal Saly  
                            plus précisément à côté d'un terrain de golf, près d'une plage privée.
                             Profitez de votre séjour pour expérimenter de nouvelles activités aux 
                             célèbres Club de golf Saly et Village de pêcheurs de Mbour. Vous préférez
                              le calme et la beauté des grands espaces ? Mettez plutôt le cap sur les 
                              magnifiques sites de Lagune de la Somone.

                        </p>
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-info">RESERVATION</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="row  ">
                    <h2 class="text-center">Lamantin Beach Resort & SPA </h2>

                    <div class="col-md-6">
                        <p>
                            Situé en bord de mer avec un accès direct à la plage et à la marina,
                             le Lamantin Beach Hôtel est un univers de bien-être au coeur de la 
                             cité balnéaire de Saly.Construit dans un style africain, il est composé
                             de cases traditionnelles, luxueusement aménagées et décorées dans la
                             plus pure tradition sérère.

                        </p>
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-info">RESERVATION</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/images/lamantin.jpeg" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            <div class=" block ">
                <div class="row ">
                    <h2 class="text-center">Royam Saly</h2>

                    <div class="col-md-6">
                        <img src="/images/hotel.jpeg" class="img-fluid " alt="...">
                    </div>
                    <div class="col-md-6">
                        <p>
                              Le Royam Hôtel situé sur la « Petite Côte » au cœur de la station
                              balnéaire de Saly, offre calme et dépaysement avec ses 117 chambres,
                              réparties dans une soixantaine de cases tout confort à l’architecture
                              traditionnelle africaine, disséminées dans son jardin tropical au bord de l’océan 
                              et de sa plage.
                        </p>
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-info">RESERVATION</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('./partials/footet'); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>

</html>