<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Destination.css">
    <title>Destination</title>
</head>
<body>
    <header>
       <%- include('./partials/header'); %>
       <div class=" banner-nianing  d-flex justify-content-center align-items-center">
           <div class="content text-center">
            <h1 class="titre">Popenguine-Ndayane guide touristique</h1>
           </div>
       </div>
     
    </header>   

<section class="destination mb-4" id="destination-grid " >
        <div class="container text-center  headerTexte py-4">
            <p class="">
                Popenguine-Ndayane est une commune du Sénégal, située à 70 km au
                 sud de Dakar, sur la Petite-Côte,

            </p>

        </div>
       <div class="container">
         <div class=" block ">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-center">Hotel La Pierre de Lisse</h2>
                    <p>
                        La Pierre de Lisse est un hôtel restaurant avec piscine, face à la
                         mer. Situé à N’Dayane, à 45 km de Dakar entre Toubab Dialaw et 
                         Popenguine L’hôtel restaurant la Pierre de Lisse vous accueille 
                         24h sur 24h et 7 jours sur 7. Situé en bord de mer à 45 min de 
                         Dakar, Thiès et Saly, c’est le lieu idéal pour se ressourcer.
                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/lisse.jpeg" class="img-fluid" alt="...">
                </div>
            </div>
         </div>
        <div class="block ">
            <div class="row ">
                <div class="col-md-6">
                    <img src="/images/renai.jpg" class="img-fluid" alt="...">
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">Monument de la Renaissance Africaine</h2>
                    <p>
                    le Monument de la Renaissance africaine est une statue
                    monumentale de 52 mètres de haut en bronze et cuivre représentant
                    un couple et un enfant qui surplombe Dakar depuis une colline proche représente
                    l’Afrique émergeant de l’obscurité.

                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="block">
            <div class="row  ">
                <div class="col-md-6">
                    <h2 class="text-center">Lac Rose</h2>
                    <p>
                    Le Lac Rose, Lac Retba de son vrai nom. C’est l’un des lieux les plus
                    connus du pays. Il est situé au nord de Dakar, à une quarantaine de kilomètres . Il s’agit d’un
                    lac salé, célèbre pour sa concentration en sel, sa couleur mais aussi pour avoir été le lieu d’arrivée du célèbre rallye
                    Paris-Dakar jusqu’en 2007.
                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/lacc.jpg" class="img-fluid" alt="...">
                </div>
            </div>
        </div> -->
        <div class="block">
            <div class="row  ">
                <div class="col-md-6">
                    <h2 class="text-center">Village Des Arts</h2>
                    <p>
                       Le Village des Arts est l'un de ces marchés à destination des touristes.
                        un endroit extraordinaire où l'art foisonne sous toutes ses formes. Peintres sur verre, sur toile,
                        photographes, sculpteurs , des dizaines d'artistes talentueux qui nous font partager leur passion

                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/Villagee.jpg" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
        <div class=" block ">
            <div class="row ">
                <div class="col-md-6">
                    <img src="/images/Mosquee.jpg" class="img-fluid " alt="...">
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">Mosquée de la Divinité</h2>
                    <p>
                        La Mosquée de la Divinité est une mosquée sénégalaise
                        située à Ouakam, l'une des communes d'arrondissement
                        de Dakar, sur la Corniche-Ouest, en bordure de l'océan Atlantique
                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="row  ">
                <div class="col-md-6">
                    <h2 class="text-center">La cabane du Pêcheur</h2>
                    <p>
                    La Cabane du Pêcheur propose une carte de fruits de mer et de poissons que l'on ne voit pas souvent à la carte à Dakar :
                    badèche, carpe rouge, carangue, langoustes et cigales de mer. Ils sont pêchés du matin et pour la plupart, grillés
                    simplement à la plancha. On vous recommande d'y déjeuner à midi, entre un tour du village et une virée sur l'île du même
                    nom. Le dîner y est tout aussi agréable, lui qui est animé régulièrement. La maison fait aussi centre de pêche (Atlantic
                    Evasion) et dispose de quatre chambres. Une institution de la capitale sénégalaise !
                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-info">RESERVATION</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/lacc.jpg" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
       </div>
</section>

<%- include('./partials/footet'); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"    crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>