<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Destination.css">
    <title>Destination</title>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
        <div class=" banner-somone  d-flex justify-content-center align-items-center">
            <div class="content text-center">
                <h1 class="titre">Somone guidee touristique</h1>
            </div>
        </div>

    </header>

    <section class="destination mb-4" id="destination-grid ">
        <div class="container text-center  headerTexte py-4">
            <p class="">
            Somone, souvent appelé La Somone, du nom d'un petit fleuve local, est une localité située sur la Petite-Côte, à 77 km au
            sud de Dakar,avec 
            une nature encore intacte dans un paysage enchanteur, une population accueillante et fière de ses traditions, un décor
            de carte postale où les eaux les plus transparentes se mêlent à un sable des plus fins. On est à la Somone, l'un de ces
            petits coins de paradis que la planète réserve encore. Un séjour à La Somone sera un premier contact idéal avec
            l'Afrique

            </p>

        </div>
        <div class="container">
            <div class=" block ">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-center">La lagune de la Somone</h2>
                        <p>
                        D’une superficie de 700 ha, la lagune de la Somone est classée réserve naturelle. Tout au long de l’année, de nombreuses
                        espèces d’oiseaux fréquentent la lagune : pélicans, hérons et aigrettes, flamands roses...
                        </p>
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-info">RESERVATION</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/images/lagune.jpeg" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            <div class="block ">
                <div class="row ">
                    <h2 class="text-center">Chez Rasta</h2>
                    <div class="col-md-6">
                        <img src="/images/Somone-1.jpeg" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-6">   
                        <p>
                        Les pieds dans le sable, on se sent un peu au milieu de nulle part Chez Rasta. Mais quel cadre ! Un décor singulier, aux
                        couleurs de Bob Marley, donnant sur la lagune. Tout est fait pour que l'on s'y sente bien : l'accueil est convivial, les
                        plats goûteux, l'atmosphère relaxante. Rasta, aux petits soins pour ses clients, ne manquera pas de vous faire goûter
                        son fameux thé viagra, une infusion de plantes dont la recet...
                        </p>
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-info">RESERVATION</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="row  ">
                    <h2 class="text-center">Africa 6 Plage</h2>
                    <div class="col-md-6">
                        <p>
                            L'hôtel Africa 6 Plage est idéalement situé sur la plage de Somone, village de charme
                             aux allures d'un St. Tropez tropical. L'Hôtel propose un hébergement de qualité à 
                             des prix très raisonnables Le restaurant sert une cuisine franco-sénégalaise remarquable
                              et organise des soirées dansantes incontournables.

                        </p>
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-info">RESERVATION</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/images/africa.jpeg" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            <div class=" block ">
                <div class="row ">
                    <h2 class="text-center">Royal Horizon Baobab</h2>
                    <div class="col-md-6">
                        <img src="/images/baobab.jpeg" class="img-fluid " alt="...">
                    </div>
                    <div class="col-md-6">
                        <p>
                            Situé en front de mer, ce beau resort offre plus de 280 chambres style bungalow spacieuses et propres, éparpillées dans
                            un beau jardin fleuri. En plus d'un confort moderne, elles sont toutes dotées d'une terrasse privée ou d'un balcon et
                            certaines donnent directement sur la plage. Côté loisirs, vous ne vous ennuierez pas : tennis, pétanque, terrain
                            multisports, tir à l'arc, catamaran, spectacles de qualité et discothèque. Egalement deux piscines chauffées et trois
                            restaurants dont un grill sur la plage proposant de généreux buffets barbecue.
                        </p>
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-info">RESERVATION</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


 <%- include('./partials/footet'); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>

</html>