<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Destination.css">
    <title>Destination</title>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
       <div class=" banner-sine  d-flex justify-content-center align-items-center">
           <div class="content text-center">
            <h1 class="titre">Sine-Saloum guidee touristique</h1>
           </div>
       </div>
     
    </header>   

<section class="destination mb-4" id="destination-grid " >
        <div class="container text-center  headerTexte py-4">
            <p class="">
                 Le Sine Saloum est une région naturelle qui se trouve au Nord de 
                 la Gambie et au sud de la Petite-Côte au Sénégal. Sa superficie est
                 de 180 000 hectares. C'est dans cette région naturelle que se trouve 
                 le Parc national du delta du Saloum.C'est un delta formé par la 
                 confluence de deux fleuves, le Sine et le Saloum. C'est également 
                 un bras de mer laissant entrer l'eau salée de plus en plus 
                 profondément dans les terres car le débit des deux fleuves 
                 est assez lent.

            </p>

        </div>
       <div class="container">
         <div class=" block ">
            <div class="row">
                <h2 class="text-center">Mar Lodji , une île bénie</h2>

                <div class="col-md-6">
                    <p>
                         Cette île magnifique présente un écosystème très riche.
                         Entre ses bolongs, ses dunes de sables, et sa proximité
                          avec d’autres localités aussi bénies qu’elle par l’environnement, 
                          l’activité touristique y épouse bien les contours de dame nature.
                           Entre autres loisirs, des promenades en pirogue et des excursions
                         de pêche jusqu’à Toubacouta, le village des pêcheurs,
                    </p>
                    <div class="text-center">
                    
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/ML-4.jpeg" class="img-fluid" alt="...">
                </div>
            </div>
         </div>
        <div class="block ">
            <div class="row ">
                <h2 class="text-center">Les Collines de Niassam</h2>

                <div class="col-md-6">
                    <img src="/images/colline.jpeg" class="img-fluid" alt="...">
                </div>
                <div class="col-md-6">
                    <p>
                        Le Lodge des Collines de Niassam se situe à 150 km au sud de Dakar dans 
                        le Delta du Sine et Saloum.  Lieu magique à Palmarin il est un paradis 
                        pour les rêveurs, les gourmets et les amoureux de la nature.

                    </p>
                    <div class="text-center">
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="row  ">
                <h2 class="text-center">Les Palétuviers</h2>

                <div class="col-md-6">
                    <p>
                        Situé au coeur du Sine Saloum, dans la région de Toubacouta, 
                        l’hôtel Les Palétuviers vous accueille dans un cadre grandiose 
                        entouré de verdure, au bord de l’eau. Établissement haut de 
                        gamme, Les Palétuviers vous propose un séjour serein, entre 
                        contemplation de la nature et relaxation.

                    </p>
                    <div class="text-center">
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/paletuviers.jpeg" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
        <div class=" block ">
            <div class="row ">
                <h2 class="text-center">Palmarin</h2>

                <div class="col-md-6">
                    <img src="/images/palma.jpeg" class="img-fluid " alt="...">
                </div>
                <div class="col-md-6">
                    <p>
                        Cette île est juste magnifique ! Elle est la personnification de la simplicité et de 
                        la beauté avec ses plages immaculées, ses palmiers et la virginité
                         de ses paysages. Elle est également connue pour la production de sel 
                         qui s’effectue dans les salines et pour la chaleur de ses habitants.
                          Vous ne regretterez pas de passer par les chemins ensablés et recouverts 
                          de milliers de coquillages. Plusieurs excursions sont proposées sur place
                          afin de vous faire découvrir l’île à bord de pirogues ou en ULM.
                    </p>
                    <div class="text-center">
                      
                    </div>
                </div>
            </div>
        </div>
       </div>
</section>

    <%- include('./partials/footet'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"    crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>