<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Accueil</title>
</head>
<body>
<header>
    <%- include('./partials/header'); %>
   <div class=" banner-image  d-flex justify-content-center align-items-center">
       <div class="content text-center">
        <h1 class="titre">Guide touristique pour visiter le Littoral Sénégalais et bien préparer son voyage</h1>
       </div>
   </div>
 
</header>

<section class="about mt-5" id="about">
    <h2 class="text-center">Partez en voyage au Sénégal</h2>
   <div class="container">
   <div class="row">
       <div class=" col-lg-12 col-md-12 col-sm-12">
            <div class="headerTexte">
                <p>
            Le Sénégal n’offre sans doute pas les paysages les plus somptueux d’Afrique, mais il possède des sites inoubliables qui
            vous apporteront un dépaysement total. Ses parcs nationaux, comme celui du Djoudj, au nord de Saint-Louis, riche en
            oiseaux de toutes sortes ou celui du delta du Saloum, avec ses îles, sans parler de la Casamance, région encore trop
            méconnue du grand public, où l’on se perd avec délices dans un réseau de bolongs, dans la mangrove, ont tout pour
            séduire le voyageur. Et pour ceux qui ne souhaiteraient pas trop se fatiguer, ses plages agréables, bordées d’une
            végétation luxuriante et variée, sont déjà une belle promesse de vacances dépaysantes.
            Un des atouts qui rendent ce pays singulièrement attachant est sa population enjouée, communicative et accueillante.
            Si la période coloniale a laissé au Sénégal des traces indéniables telles que la langue française, parler la même langue
            ne signifie pas forcément le même langage. Après plus de 50 ans d’indépendance, les mentalités au Sénégal reflètent les
            préoccupations économiques internes, une perception du monde, une observation des attitudes occidentales via le
            tourisme, la conformité aux règles exigées par la tradition et, enfin, le renforcement de l’islam.
            L’esprit dans lequel on visitera le Sénégal sera particulièrement important : le quotidien peut apporter son lot de
            péripéties qui seront, selon l’ouverture ou la philosophie de chacun, drôles ou irritantes. Pourquoi ne pas adopter
            l’extraordinaire sens de l’humour sénégalais, fait d’autodérision et d’espièglerie ?
                </p>
            </div>
       </div>
       <!-- <div class=" col-lg-6 col-md-6 col-sm-12">
            <img src="/images/about.jpeg" alt="" class="w-100">
        </div> -->
       </div>
   </div>
</section>

<section class="features mt-5">
    <h2 class="text-center mb-3" id="destination">Nos destinations</h2>
   <!-- <div class="container text-center ">
        <div class="row ">
            <div class="col-4-lg col-md-4 col-sm-6  ">
                <div class=" card mb-4 shadow-sm">
                    <img src="/images/Dakar.3.jpg" class="w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Dakar</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4-lg col-md-4 col-sm-6">
                <div class="card mb-4 shadow-sm">
                    <img src="/images/Somone.jpg" class="w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Somone</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4-lg col-md-4 col-sm-6 ">
                <div class="card mb-4 shadow-sm">
                    <img src="/images/saly5.jpg" class="w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Saly</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card mb-4 shadow-sm">
                    <img src="/images/mbour.jpg" class="w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mbour</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card mb-4 shadow-sm">
                    <img src="/images/eglise-de-nianing-2018-senegal.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nianing</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card mb-4 shadow-sm">
                    <img src="/images/joal.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Joal Fadiouth</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

   </div> -->
<div class="container">
    <div class="row">
        <div class=" col-lg-4 col-md-4 col-sm-6">
            <div class="single-works">
                <img src="/images/9.jpg" alt="">
                <div class="overlay-text">
                    <h3 class="title">Dakar</h3>
                    <a href="/Dakar" class="btn post">Voir plus</a>
                </div>
            </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6">
            <div class="single-works">
                <img src="/images/Somone.jpg" alt="">
                <div class="overlay-text">
                    <h3 class="title">Somone</h3>
                    <a href="/Somone"  class="btn post">voir plus</a>
                </div>
            </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6">
            <div class="single-works">
                <img src="/images/17.jpeg" alt="">
                <div class="overlay-text">
                    <h3 class="title">Saly</h3>
                    <a href="/Saly" class="btn post">voir plus</a>
                </div>
            </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6">
            <div class="single-works">
                <img src="/images/21.jpg" alt="">
                <div class="overlay-text">
                    <h3 class="title">Sine-Saloum</h3>
                    <a href="/Sine-Saloum" class="btn post">voir plus</a>
                </div>
            </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6">
            <div class="single-works">
                <img src="/images/6.jpg" alt="">
                <div class="overlay-text">
                    <h3 class="title">Popenguine-Ndayane</h3>
                    <a href="/Popenguine-Ndayane" class="btn post">voir plus</a>
                </div>
            </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6">
            <div class="single-works">
                <img src="/images/joal.jpg" alt="">
                <div class="overlay-text">
                    <h3 class="title">Joal-Fadiouth</h3>
                    <a href="/Joal-Fadiouth" class="btn post">voir plus</a>
                </div>
            </div>
        </div>

    </div>
</div>
</section>

<!-- <section class="gallery">
    <div class="container images text-center ">
        <h2 > Gallery</h2>
        <div class="row p-3">

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card " >
                    <div class="card-img">
                        <img src="/images/1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-img">
                        <img src="/images/9.jpg" alt="">
                    </div>
                </div>
            </div>
             
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-img">
                        <img src="/images/3.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card ">
                    <div class="card-img">
                        <img src="/images/7.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-img">
                        <img src="/images/6.jpg" alt="">
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-img">
                        <img src="/images/8.jpg" alt="">
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section> -->
<%- include('./partials/footet'); %>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"    crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>