@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Kaushan+Script&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Abhaya Libre', serif;
    font-size: 1.2rem;
}

.titre{
    color: #fff;
    font-weight: 700;
    font-style: italic;
}
.headerTexte{
    font-style: oblique;
    font-weight: 400;
    font-size: large;

}
.nav-link{
    color: #fff !important;
     font-weight: 400;
      font-size: 24px;
}

.navbar-brand{
    font-style: italic;
    font-family: 'Charmonman', cursive;

}

.banner-dakar{
    background: url('/images/yy.jpg')center no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.contact{
    background-color: cornsilk;
}

.head{
    background-color: rgba(185, 19, 185);
    border-radius: 5px;
    margin-top: -40px;
    -webkit-box-shadow: -1px 14px 28px -8px rgba(222,73,222,0.63);
    -moz-box-shadow: -1px 14px 28px -8px rgba(222,73,222,0.63);
    box-shadow: -1px 14px 28px -8px rgba(222,73,222,0.63) -1px 14px 28px -8px rgba(222,73,222,0.63);
}

.effect-1{
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}
/* 
.effect-1 ~  .Focus-border{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgba(185, 19, 185);
    transition: 0.4s;
    
}
.effect-1:focus ~ .Focus-border{
    width: 100%;
    transition: 0.4s;
    left: 0;
} */
.boutton{
    background-color: rgba(185, 19, 185);
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 145px;
}
.boutton:hover{
    -webkit-box-shadow: -1px 14px 28px -8px rgba(222,73,222,0.63);
    -moz-box-shadow: -1px 14px 28px -8px rgba(222,73,222,0.63);
    box-shadow: -1px 14px 28px -8px rgba(222,73,222,0.63) -1px 14px 28px -8px rgba(222,73,222,0.63);
}  


.ville{
    color: rgb(179, 32, 32);
}
