
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Kaushan+Script&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Abhaya Libre', serif;
    font-size: 1.2rem;
}



.titre{
    color: #fff;
    font-weight: 700;
    font-style: italic;
}
.headerTexte{
    font-style: oblique;
    font-weight: 400;
    font-size: large;

}
.nav-link{
    color: #fff !important;
     font-weight: 400;
      font-size: 24px;
}

.navbar-brand{
    font-style: italic;
    font-family: 'Charmonman', cursive;

}

.banner-dakar{
    background: url('/images/dakar5.jpeg')center no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;   
}

.banner-somone{
    background: url('/images/dakar5.jpeg')center no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
}

.banner-joal{
    background: url('/images/achtergrond.jpeg')center no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
}

.banner-nianing{
    background: url('/images/dakar5.jpeg')center no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
}

.banner-saly{
    background: url('/images/13.jpeg')center no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
}

.banner-sine{
    background: url('/images/16.jpg')center no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
}


.titre{
    color: #fff;
    font-weight: 700;
    font-style: italic;
}
.headerTexte{
    font-style: oblique;
    font-weight: 400;
    font-size: large;

}
.texte{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.block{
    margin: 5px 0;
    padding: 15px;
}
.block:hover{
-webkit-box-shadow: 0px 0px 9px 10px rgba(0,0,0,0.11);
-moz-box-shadow: 0px 0px 9px 10px rgba(0,0,0,0.11);
box-shadow: 0px 0px 9px 10px rgba(0,0,0,0.11);
}