@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Kaushan+Script&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Abhaya Libre', serif;
    font-size: 1.2rem;
}

.banner-image{
    background: url('/images/sally.jpg') center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


.titre{
    color: #fff;
    font-weight: 700;
    font-style: italic;
}
.headerTexte{
    font-style: oblique;
    font-weight: 400;
    font-size: large;

}
.nav-link{
    color: #fff !important;
     font-weight: 400;
      font-size: 24px;
}

.navbar-brand{
    font-style: italic;
    font-family: 'Charmonman', cursive;

}


.block{
    padding: 0 !important;
}

.image{
    height: 20rem;
    width: 30rem;
    margin: 1rem;
}
.image img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}
.images img{
    width: 100%;
    /* transition: .5s all;
    margin-right: 10px; */

}
/* .images .card-img{
    overflow: hidden;
} */

.images .card{
width: 100%;
}



.single-works{
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
    box-shadow: 5px 5px 15px #000;
}
.single-works img{
    width: 100%;
    height: auto;

}
.single-works .title {
    font-size: 25px;
    font-weight: 700;
    color: orange;
    margin: 0 0 15px 0;
}
.overlay-text .post{
    background: orange;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: 0.4s ease-in-out;
}
.overlay-text .post:hover{
   color: #000;
}

.single-works .overlay-text{
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #fff;
    background: rgba(0,0,0,0.6);
    text-align: center;
    padding-top: 20%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;   
    transition: all 0.6s ease 0s;
}
.single-works .overlay-text::before{
    border-left: 1px solid rgba(255,255,255,0.9);
    border-right: 1px solid rgba(255,255,255,0.9);
    left: 30px;
    right: 30px;

}

.single-works .overlay-text::after{
    border-top: 1px solid rgba(255,255,255,0.9);
    border-bottom: 1px solid rgba(255,255,255,0.9);
    top: 30px;
    bottom: 30px;
 }
 /*
.single-works .overlay-text::before, .single-works .overlay-text::after{
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px; 
    right: 20px;
    opacity: 0;
    z-index: 1;
    transform: scale(1.5);
    transition: all 0.6s ease 0.2s;
} */
.single-works:hover{
    transform: translateY(-8px);
    
}
.single-works:hover .overlay-text{
    opacity: 1;
}

/* 
.single-works:hover .overlay-text::before,
.single-works:hover .overlay-text::after{
    opacity:1 ;
    transform: scale(1);

} */
 
